@mixin heading($fontsize , $weight) {
  font-size: $fontsize;
  font-weight: $weight;
}

@mixin box ($width, $height, $padding, $margin){
  width: $width;
  height: $height;
  padding: $padding;
  margin-left: $margin;
}