body {
  display: block;
  margin: 0;
}

.splash {
  background-image: url("../img/cover.jpg");
  background-size: cover;
  height: 100vh;

  .full-hieght {
    height: 100vh;
  }
  .logo {
    img {
    width:55px;
    height: 75px;
    padding: 10px;
    }
  }

  .cover {
    text-align: center;
    color: $light;
    font-family: cormorant;
    @include heading(100px , bold);
    line-height: 145px;

    p {
      font-family: montserrat;
      font-size: 14px;
      line-height: normal;
    }
    .branding {
      font-family: cormorant;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
}