.project {
  text-align: center;
  h1 {
    font-family: cormorant;
    @include heading(36px, bold);
    text-align: left;
  }

  .boxer {
    display: inline-block;
    text-align: left;
    font-family: montserrat;
    font-size: 14px;

    ul li{
      list-style: none;
    }
  }
}